

@font-face {
    font-family: inter;
    src: url(./Fonts/Inter-Lexend_Deca/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: lexend_deca;
    src: url(./Fonts/Inter-Lexend_Deca/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

body {
    /* border : 1px solid black; */
    min-height: 100vh;
    background-color: #0A0A12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: hsla(0, 0%, 100%, 0.5);
}

/* CHALLENGE */
#challenge {
    border : 1px solid black;
    border-radius: 10px;
    background-color: #1A1929;
    width: 1110px;
    height: 445px;
    display: flex;
    margin: 0;
    margin-bottom: 30px;
}

/* BLOC TEXT */
#bloc-text {
    /* border : 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 75px auto 65px 70px;
}

/* GET INSIGHTS */
#get-insights {
    /* border : 1px solid black; */
    color: white;
    font-family: lexend_deca;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    width: 377px;
    margin: 0;
}

/* DISCOVER */
#discover {
    /* border : 1px solid black; */
    color: rgba(255, 255, 255, 0.5);
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 346px;
    margin-bottom: 60px;
}

/* NUMBERS */
#numbers {
    /* border : 1px solid red; */
    font-family: lexend_deca;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 346px;
    margin: 0;
}
#numbers p {
    /* border : 1px solid black; */
    margin : 0;

}

    /* 10k+ */
    #number1 {
        /* border : 1px solid yellow; */
        margin: 0;
    }
    #number1 span {
        color: white;
        font-size: 24px;
        line-height: 40px;
        display: flex;
        margin: 0;
    } 
    
    /* 314 */
    #number2 {
        /* border : 1px solid yellow; */
        margin: 0;
    }
    #number2 span {
        color: white;
        font-size: 24px;
        line-height: 40px;
        display: flex;
    } 
    
    /* 12m+ */
    #number3 {
        /* border : 1px solid yellow; */
        margin: 0;
    }
    #number3 span {
        color: white;
        font-size: 24px;
        line-height: 40px;
        display: flex;
    } 

/* BLOC IMAGE */
#bloc-image {
    display: flex;

}
    /* IMAGE */
    #image {
        /* border : 1px solid yellow; */
        border-radius: 0px 10px 10px 0px;
        width: 540px;
        background-image: linear-gradient(hsla(278, 77%, 39%, 0.5), hsla(277, 83%, 32%, 0.5)), url(./Images/image-header-desktop.jpg);
        filter: contrast(120%) saturate(100%) brightness(1);
        
    }